*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.container .logo{
    display: flex;
    align-items: center;
}

.container .logo img{
    height: 50px;
}

.menu{
    display: flex;
    align-items: center;
}

nav ul,
nav li{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
}

nav a{
    display: block;
    padding: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #727272;
}

nav .active a,
nav a:hover{
    color: white;
    background-color: #39aae1;
}

.banner{
    display: flex;
    justify-content: center;
    background-image: url("../images/img1.jpg");
    background-position: center;
    background-size: cover;
    height: 670px;
}

.column{
    flex-direction: column;
}

.banner_headline{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner_headline h1{
    color: white;
    font-size: 70px;
    text-shadow: 0 1px 0px #00000033;
    margin: 0;
    padding: 0;
    max-width: 350px;
    font-weight: 500;
}

.banner_headline h2{
    color: white;
    font-size: 20px;
    text-shadow: 0 1px 0px #00000033;
    margin: 20px 0 0 0;
    padding: 0;
    max-width: 350px;
    font-weight: lighter;
}

.banner_options{
    height: 210px;
    display: flex;
}

.banner1,
.banner2,
.banner3{
    flex: 1;
    color: white;
    padding: 20px 25px;
}

.banner1{
    background-color: #39aae1;
}

.banner2{
    background-color: #0079c7;
}

.banner3{
    background-color: #2b4c99;
}

.banner_options h1{
    margin: 0;
    font-size: 23px;
}

.banner_options p{
    font-size: 15px;
    margin: 20px 0px;
}

.banner_options a{
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #FFF;
}

.banner3 .doctors_time{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 15px;
    margin-top:20px;
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}

.widget_title{
    margin: 30px 0px 20px 0px;
}

.widget_title_text{
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.widget_title_bar{
    height: 2px;
    width: 50px;
    background-color: #36aae1;
    margin-top: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

article a{
    text-decoration: none;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    background-color: #2b4c99;
    color: #fff;
    font-size: 12px;
    padding: 10px;
}

article .news_comment{
    background-color: #39aae1;
    margin-left: 2px;
    color: #fff;
    font-size: 12px;
    padding: 10px 13px;
}

article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin: 25px 0;
    color: #000;
    font-size: 23px;
}

article .news_resume{
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom:30px;
}

.widget_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.widget_body .department{
    width: 150px;
    height: 150px;
    background-color: #36aae1;
    margin: 20px 0px;
}

.widget_body .times_title{
    color: #5c5c5c;
    font-size: 14px;
    line-height: 20px;
    margin-bottom:30px;
}

.widget_body .department_address address{
    width: 300px;
    padding: 20px 0px;
    border-top:1px solid #555;
}

.border_bottom{
    border-bottom:1px solid #555;
}

footer{
    display: flex;
    justify-content: center;
    background-color: #111;
}

.footer_menu{
    display: flex;
}

.fm_1,
.fm_2,
.fm_3{
    flex: 1;
    color: #fff;
    padding:20px;
    font-size: 12px;
}
.footer_menu h1,p{
    margin: 0;
    padding: 0;
}

.fm_1{
    background-color: #39aae1;
}

.fm_2{
    background-color: #0079c7;
}

.fm_3{
    background-color: #2b4c99;
}

.footer_area{
    display: flex;
}

.footer_area_item{
    flex: 1;
    color: #FFF;
}

footer .widget_title_text{
    color: #fff;
    font-size: 18px;
    font-weight: lighter;
}

.footer_area .widget_body{
    margin: 10px 0px;
    line-height: 20px;
    font-size: 15px;
}

.footer_area .footer_address{
    margin-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #555;
}

.footer_area .footer_address{
    font-size: 12px;
}

.footer_area .widget_body p{
    color: #555;
}

.widget_body .post{
    margin-bottom: 15px;
    display: flex;
    align-items: baseline;
}

.widget_body .post .content{
    margin-left: 10px;
    color: #fff;
}

.widget_body .post .post_date{
    color: #36aae1;
}

.footer_copy{
    margin-top: 30px;
    border-top: 1px solid #2c2c2c;
    height: 40px;
    line-height: 40px;
    color: #5c5c5c;
    font-size: 12px;
    margin-top: 30px;
}